<!DOCTYPE html>
<html>

<head>
	<title>Student|Detail</title>
</head>

<body>
	<img src="{{ student.image.url }}">
	<p><div class="firsts">First Name:</div>{{student.first_name}}</p>
	<p><div class="firsts">Last Name:</div>{{student.last_name}}</p>
	<p><div class="firsts">Date of Birth:</div>{{student.date_of_birth}}</p> 
    <p><div class="firsts">Registration Number:</div>{{student.registration_number}}</p>
	<p><div class="firsts">Place Of Residence:</div>{{student.place_of_residence}}</p>
</body>
</html>